/* Custom Font */
 @import url('https://fonts.maateen.me/charukola-ultra-light/font.css');

/* Basic CSS Structure */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
    background: #fffff0;
}

body {  
  width: 100%;
  height: 100vh;
  font-family: 'CharukolaUltraLight', Arial, sans-serif !important;
   background-color: #fffff0;
  font-size: bold;
  background: url(pilot.jpg) no-repeat;
  background-position: cover;
  /* background-attachment: fixed; */
  backdrop-filter: blur(3px);
  user-select: none;
}

.container { 
  position: relative;
  top: 150px;
  padding: 20px; 
  user-select: none;
}

.hero { 
  width: 100%;
  height: 400px;
  text-align: center;
  overflow: hidden;
}

.logo img {
  width: 150px; 
  animation: 2s topToBottom linear;
  user-select: none;
}

@keyframes topToBottom{
  0%{
    position: relative;
    top: -250px;
  }
  
  50% {
    position: relative;
    top: 0px;
  }
  
  100% {
    position: relative;
    top: 0px;
  }
}

.schoolName {
  font-size: 50px;
  font-weight: 500;
  animation: 2s leftToRight linear;
}

@keyframes leftToRight {
  0% {
    position: relative;
    left: -250px;
  }

  50% {
    position: relative;
    left: 0px;
  }

  100% {
    position: relative;
    left: 0px;
  }
}
.address {
  font-size: 25px;
  font-weight: 300;
  animation: 2s rginToLeft linear;
}

@keyframes rginToLeft{
  0%{
    position: relative;
    right: -250px;
  }
  
  50% {
    position: relative;
    right: 0px;
  }
  
  100% {
    position: relative;
    right: 0px;
  }
}

.subject { 
  font-size: 35px;
  font-weight: 200;
  animation: 3s show linear;
}

@keyframes show{
  0%{
    opacity: 0;
  }
  
  50% {
    opacity: 0.5;
  }
  
  100% {
    opacity: 1;
  }
}

main { 
  position: relative;
  top: 600px;
}

.text2{
  position: relative;
  top: 100px;
  animation: 3s show linear;
}

.text2 p{
  font-size: 20px;
  font-weight: 400;
}

.section2{
  position: relative;
  top: 150px;
}

.section2 h2{
  font-size: 40px;
  text-align: center;
  margin-bottom: 50px;
}

table {
  width: 80%;
  font-size: 20px;
  position: relative;
  left: 50%;
  transform: translateX(-50%)scale(1);
  border: 1px solid #000;
  animation: 3s show linear;
}

table, th, td{
  border: 1px solid #000;
  border-collapse: collapse;
  text-align: center;
}

.chart img{
  width: 80%;
  margin-top: 200px;
  position: relative;
  left: 50%;
  transform: translateX(-50%)scale(1);
  animation: 8s show linear;
  user-select: none;
}

.section3{
  display: flex;
  position: relative;
  top: 300px;
  justify-content: center;
  overflow: hidden;
}

.section3 img{
  width: 50%;
  height: 100%;
  animation: 5s rginToLeft infinite;
  user-select: none;
}

.section4 {
  display: flex;
  position: relative;
  top: 400px;
  justify-content: center;
  overflow: hidden;
}

.section4 img{
  width: 50%;
  height: 100%;
  animation: 5s leftToRight infinite;
  user-select: none;
}

.section5 {
  display: flex;
  position: relative;
  top: 600px;
  justify-content: center;
  overflow: hidden;
}

.section5 img {
  width: 60%;
  height: 100%;
  animation: 5s rginToLeft infinite;
  user-select: none;
}

.section6 {
  display: flex;
  position: relative;
  top: 650px;
  justify-content: center;
  overflow: hidden;
}

.section6 h2{
  position: relative;
  top: 145px;
}

.section6 img {
  width: 60%;
  height: 100%;
  animation: 5s leftToRight infinite;
  user-select: none;
}

.section7 {
  display: flex;
  position: relative;
  top: 700px;
  justify-content: center;
  overflow: hidden;
}

.section7 img {
  width: 50%;
  height: 100%;
  animation: 5s rginToLeft infinite;
  user-select: none;
}

.section8 {
  display: flex;
  position: relative;
  top: 800px;
  justify-content: center;
  overflow: hidden;
}

.section8 img {
  width: 50%;
  height: 100%;
  animation: 5s leftToRight infinite;
  user-select: none;
}

footer{
  width: 100%;
  height: 500px;
  background: linear-gradient(#15F5F0, #FFFFF0);
  position: relative;
  top: 1000px;
  animation: 5s show infinite;
}

footer div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)scale(1);
  animation: 5s show infinite;
}

footer h2 {
  font-size: 50px;
  font-weight: 200;
}

#copyright{
  width: 100%;
  position: relative;
  top: 1750px;
  left: 0;
  font-size: 12px;
  text-align: center;
  padding: 10px;
  background-color: #000000;
  color: #fff;
}

.responaive{
  width: 200px;
  text-align: center;
  letter-spacing: 1px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)scale(1);
  display: none;
}

.responaive h1{
  font-size: 40px;
  font-weight: 400;
}

.responaive h2 {
  font-size: 30px;
  font-weight: 300;
}

.responaive p {
  width: 250px;
  margin-left: -25px;
  font-size: 20px;
  font-weight: 200;
}

@media (max-width: 570px) {
 .container{
   display: none;
 }
 
 .responaive{
  display: block;
 }
 
 #copyright{
   width: 100%;
   font-size: 8px;
   font-weight: 300;
 }
}